<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NoteApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <NoteApp.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RootFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CategoryListWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ItemListWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GenreName" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectCategoryWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectCategoryHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectCategoryTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectCategoryLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CategoryName" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemName" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncPlotTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncPlotLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncPlotWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncPlotHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncPlot3DTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncPlot3DLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncPlot3DWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncPlot3DHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </NoteApp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.3.0" newVersion="3.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>